@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
body{
	background: #2C3C40;
	display: flex;
	height: 94vh;
}
div{
	transition: all 0.3s ease;
}
.keyboard_container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.keyboard_container:after{
	content: '';
	position: absolute;
	width:287px;
	height: 287px;
	z-index: -1;
	background: #545C64;
	margin: 10px 10px;
}
.calc_container{
	margin:auto auto;
	display:felx;
	flex-direction: column;
	width:304px;
	height: 385px;
	box-shadow: 0 0 80px #222;
}
.keyEl{
	color:#C8CBCE;
	text-align: center;
	line-height: 60px;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 1.15em;
	width:75px;
	height:60px;
	margin:0.5px 0.5px;
	background: #2C3C40;
	box-shadow:0;
	transition: all 0.1s ease;
}
.keyEl.inactive{
	filter: grayscale(80%);
	width:71px;
	height: 56px;
	border:2px solid #545C64;
}
.keyEl.inactive span{
	filter: blur(3px);
}
.keyEl.inactive:hover{
	box-shadow:none;
}
.keyEl.inactive:active{
	box-shadow:none;
}
#calculation_container{
	height: 80px;
	text-align: right;
	background: #C8CBCE;
}
.keyEq{
	z-index: 200;
	width:200%;
	background: #D41C63;
}

#calculation_container span{
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 1.7em;
	color: #2C3C40;
	width: 500px;
	line-height: 90px;
	padding:0 30px; 
}
.keyEl:hover{
	box-shadow:0 0 0px 1px #C8CBCE;
}
.keyEq:hover{
	box-shadow:0 0 5px 1px #D41C63;
}
.keyEl:active{
	z-index: 999;
	/*margin-top:1px;*/
	box-shadow:0 0 0px 2px #C8CBCE;
	/*margin-left:1px: */
	/*width:73px;*/
	/*height:58px;*/
}
.keyEq:active{
	box-shadow:0 0 5px 3px #D41C63;
}

.keyEl.prev_sign{
	margin-left:1px: 
	width:73px;
	height:58px;
	box-shadow:0 0 0px 2px #C8CBCE;
}

#prev_val_container{
	height:50px;
	margin-top:-50px;
	box-shadow: 0 0 7px 1px #C8CBCE;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 1.7em;
	color: #C8CBCE;
	transition: all 0.3s ease;
	text-align: right;
}
#prev_val{
	transition: all 0.3s ease;
	line-height: 60px;
	padding-right: 20px;
}
#prev_val_container.hidden{
	transition: all 0.3s ease;
	margin-top: 0px;
	box-shadow: 0 0 0 0 black;
}
#prev_val_container.hidden ~ #calculation_container{
	margin-top: -50px;
}
